.add_button{
    margin-top: 25px;
    line-height: 1;
    text-decoration: none;
    display: block;
    padding: .7rem 1rem;
    text-align: center;
    cursor: pointer;
    background-color: #1779ba;
    color: #fefefe;
    transition: background-color .25s ease-out,color .25s ease-out;
    font-size: .9rem;
}
/*.topbar-responsive-links{*/
    /*position: fixed;*/
	/*top: 0;*/
	/*left: 0;*/
}